<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta description="Interface for the wrapper library to import export / remote multiple rules and easily create, modify and delete rules.">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.ico') }}">

    <title>{% block title %}{% endblock %}</title>

    {% block link %}{% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body class="flex flex-col min-h-screen">
    {% include "header.jinja2" %}
    {% block body %}{% endblock %}
    {% include "footer.jinja2" %}
</body>

</html>
