<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="noindex" name="robots">
    <meta content="no-referrer" name="referrer">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta description="Wrapper library to import export / remote multiple rules and easily create, modify and delete rules.">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.ico') }}">

    <title>{% block title %}{% endblock %}</title>

    {% block link %}{% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    {% include "header.jinja2" %}
    {% block body %}{% endblock %}
    {% include "footer.jinja2" %}
</body>

</html>