{% extends "base.jinja2" %}

{% block title %}Cloudflare WAF Custom rules{% endblock %}

{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='node_modules/sweetalert2/dist/sweetalert2.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='node_modules/slim-select/dist/slimselect.css') }}">
{% endblock %}

{% block body %}
<main class="flex flex-col lg:flex-row flex-grow">
    <aside class="flex flex-col min-w-72">
        <h2 class="title border-x border-stone-300">Available rules</h2>
        <ul id="rules" class="flex flex-col gap-2 mx-2 -lg:mx-auto" role="list">
            {% for rule in rules %}
            <li class="text-white text-sm bg-secondary p-2 rounded-md cursor-pointer">
                <a class="block" onclick="loadRule('{{ rule }}')">{{ rule | replace('.txt', '') }}</a>
            </li>
            {% endfor %}

            {% if not rules %}
            <p class="text-secondary text-center">No rules available, create some :)</p>
            {% else %}
            {% endif %}
        </ul>

        <div class="flex justify-evenly my-6">
            <button id="create" class="btn !m-0" onclick="createRule()">
                <img src="{{ url_for('static', filename='img/plus.svg') }}" alt="Plus icon" class="p-2 w-16 h-16">
            </button>
            <button id="create" class="btn !m-0" onclick="importRule()">
                <img src="{{ url_for('static', filename='img/import.svg') }}" alt="Import icon" class="p-2 w-16 h-16">
            </button>
        </div>
    </aside>

    <section class="flex flex-col flex-1 -lg:order-1">
        <h2 class="title border-x border-stone-300">Online rule editor</h2>

        <p class="text-xl mb-4">
            <span id="current-file">&nbsp;</span>
            <span id="current-state">&nbsp;</span>
        </p>

        <p class="-lg:mx-4">This is a rule editor for the <a href="https://developers.cloudflare.com/waf/custom-rules/" target="_blank" class="text-secondary">Cloudflare WAF Custom rules</a> using the same syntax and expressions.</p>

        <div id="container" class="max-h-full h-96 border border-gray-light"></div>

        <div class="flex my-8">
            <button id="save" class="btn w-36" onclick="saveRule()">Save locally</button>
            <button id="download" class="btn w-36" onclick="downloadRule()">Download as file</button>
            <button id="delete" class="btn w-36" onclick="deleteRule()">Delete locally</button>
        </div>

        <hr>

        <div class="mt-4 -lg:mx-8">
            <h3 class="text-xl mb-4">Available Cloudflare domains</h3>

            <p>Select the domains you want to do an action and click the corresponding button</p>

            <p class="ml-4">- For example, if you wrote a new rule here, click "Create" to import it on all domains you have selected.</p>
            <p class="ml-4">- If you modified a rule, just click "Update" to upload your change to the remote rule of your selected domains.</p>

            {% with messages = get_flashed_messages(with_categories=true) %}

            {% if messages %}
            <div class="my-4">
                {% for category, message in messages %}
                <div class="bg-{{category}}-light border border-{{category}} text-{{category}}-dark p-4 mt-2 rounded relative" role="success">
                    {% if category == "success" %}
                    <strong class="font-bold">Successfully executed the selected action!</strong>
                    {% else %}
                    <strong class="font-bold">Error while executing the selected action :/</strong>
                    {% endif %}
                    <br>
                    <span class="block sm:inline">{{ message }}</span>
                </div>
                {% endfor %}
            </div>
            {% endif %}

            {% endwith %}

            <form class="flex -2xl:justify-evenly items-center -xl:flex-wrap gap-16 my-8" action="{{ url_for('send_rule') }}" method="POST" onsubmit="return sendRule();">
                <select id="domain" name="domains" class="md:w-96" multiple>
                    {% for domain in domains %}
                    <option value="{{ domain.name }}">{{ domain.name }}</option>
                    {% endfor %}
                </select>

                <input type="hidden" id="rule" name="rule">

                <div>
                    <button class="btn" name="action" value="create">Create</button>
                    <span class="mx-4">OR</span>
                    <button class="btn" name="action" value="update">Update</button>
                    <span class="mx-4">OR</span>
                    <button class="btn" name="action" value="delete">Delete</button>
                </div>
            </form>
        </div>
    </section>

    <section class="flex flex-col min-w-48">
        <h2 class="title border-x border-stone-300">Status</h2>

        <div class="flex flex-col gap-2 mx-2 -lg:mx-auto">
            <div class="flex flex-col mb-4">
                <p>Action:</p>
                <select id="action" class="w-48">
                    <option value="managed_challenge">Managed Challenge (Recommended)</option>
                    <option value="js_challenge">JS Challenge</option>
                    <option value="challenge">Interactive Challenge</option>
                    <option value="block">Block</option>
                    <option value="skip">Skip</option>
                    <option value="log">Log (Enterprise only)</option>
                </select>
            </div>

            <div class="flex flew-row mb-4">
                <p>Active:</p>
                <div class="flex items-center justify-center w-full -lg:mt-2">
                    <label for="enabled" class="flex items-center cursor-pointer">
                        <div class="relative">
                            <input type="checkbox" id="enabled" class="sr-only">
                            <div class="line block bg-gray-inactive w-10 h-5 rounded-full border border-gray-active"></div>
                            <div class="dot absolute left-0.5 top-0.5 bg-white w-4 h-4 rounded-full transition"></div>
                        </div>
                    </label>
                </div>
            </div>
        </div>
    </section>

    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/sweetalert2/dist/sweetalert2.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/slim-select/dist/slimselect.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/monaco-editor/min/vs/loader.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/monaco.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/editor.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/select.js') }}"></script>
</main>
{% endblock %}
