{% extends "base.jinja2" %}

{% block title %}Cloudflare WAF Custom rules - Profile{% endblock %}

{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='node_modules/sweetalert2/dist/sweetalert2.min.css') }}">
{% endblock %}

{% block body %}

<main class="flex flex-col flex-auto h-full">
    {% if user.is_active %}
    <h2 class="title mb-8">Profile</h2>

    <section class="max-w-xl mx-auto">
        <h3 class="text-lg">ID: {{ user.id }}</h3>
        {% if user.email %}
        <h3 class="text-lg">Email: {{ user.email }}</h3>
        {% endif %}

        <form action="{{ url_for('auth.logout') }}" method="POST">
            <div class="flex justify-center">
                <button type="submit" class="btn !px-4 !my-4">
                    Logout
                </button>
            </div>
        </form>
    </section>

    <h2 class="title mb-8">Settings</h2>

    <section class="max-w-md mx-auto -lg:mx-8">
        <form action="{{ url_for('profile') }}" method="POST">
            <label for="directory" class="text-lg">Directory:</label>
            <input type="text" name="directory" placeholder="Edit directory" value="{{ directory }}" class="!w-full px-4 py-2 border rounded">
            <div class="flex justify-center">
                <button type="submit" class="btn !px-4 !my-4">
                    Edit
                </button>
            </div>

            <label for="directory" class="text-lg">Refresh domains:</label>
            <p class="max-w-md">Note that once logged in, your available domains are cached, you can refresh them by clicking this button.</p>
            <div class="flex justify-center">
                <button type="submit" name="refresh_domains" class="btn !px-4 !my-4">
                    Refresh
                </button>
            </div>
        </form>
    </section>
    {% else %}
    <h2 class="title mb-8">Cloudflare authentication</h2>

    <section class="flex flex-col sm:flex-row items-center justify-center h-full">
        <div class="w-full max-w-sm">
            <form class="bg-white shadow-md rounded p-8" action="{{ url_for('auth.login_key') }}" method="POST">
                <div class="mb-4">
                    <label class="block text-gray-700 font-bold mb-2" for="email">
                        Email
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="email" placeholder="Email" name="email" value="{{ email }}" required>
                </div>
                <div class="mb-6">
                    <label class="block text-gray-700 font-bold mb-2" for="key">
                        Global API Key
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="password" placeholder="API Key" name="key" value="{{ key }}" required>
                </div>
                <div class="flex items-center justify-between">
                    <button class="!px-4 btn" type="submit">
                        Login
                    </button>
                </div>

                {% with messages = get_flashed_messages(category_filter=["error_key"]) %}

                {% if messages %}
                <div class="my-4">
                    {% for message in messages %}
                    <div class="bg-danger-light border border-danger text-danger-dark px-4 py-3 rounded relative" role="alert">
                        <strong class="font-bold">Error while authenticating!</strong>
                        <br>
                        <span class="block sm:inline">{{ message }}</span>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}

                {% endwith %}

                <span class="block mt-4 cursor-pointer" id="help_key">
                    ℹ️ How to get an API key?
                </span>
            </form>
        </div>

        <div class="flex flex-col px-10">
            <div class="text-4xl text-center font-bold pb-6">OR</div>
            <div class="border border-gray-common h-32 mx-8 hidden sm:block"></div>
        </div>

        <div class="w-full max-w-sm">
            <form class="bg-white shadow-md rounded p-8" action="{{ url_for('auth.login_token') }}" method="POST">
                <div class="mb-6 py-11">
                    <label class="block text-gray-700 font-bold mb-2" for="token">
                        API Token
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="password" placeholder="API Token" name="token" value="{{ token }}" required>
                </div>

                <div class="flex items-center justify-between">
                    <button class="!px-4 btn" type="submit">
                        Login
                    </button>
                </div>

                {% with messages = get_flashed_messages(category_filter=["error_token"]) %}

                {% if messages %}
                <div class="my-4">
                    {% for message in messages %}
                    <div class="bg-danger-light border border-danger text-danger-dark px-4 py-3 rounded relative" role="alert">
                        <strong class="font-bold">Error while authenticating!</strong>
                        <br>
                        <span class="block sm:inline">{{ message }}</span>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}

                {% endwith %}

                <span class="block mt-4 cursor-pointer" id="help_token">
                    ℹ️ How to generate an API token?
                </span>
            </form>
        </div>
    </section>
    {% endif %}

    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/sweetalert2/dist/sweetalert2.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/help.js') }}"></script>
</main>

{% endblock %}
