.title {
    @apply text-2xl text-center leading-[3.5rem] bg-gray-light h-14;
}

.btn {
    @apply text-white m-auto mt-8 p-2 bg-secondary rounded-md;

    &:hover {
        @apply bg-secondary-dark;
    }
}

input:checked~.dot {
    transform: translateX(125%);
}

input:checked~.line {
    @apply bg-primary;
}